/* body{
    background-color: red;
} */





/* HEADER  */

/* nav  */
nav{
    top: 0;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
li {
    line-height: 80px;
    margin: 0 20px;
}

.logo{
    vertical-align: -5px;
}

nav li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

nav li a.extra{
    background-color: blue;
    line-height: 30px;
    color: white;
    padding: 0 8px;
}




/* jambo */
.jumbo{
    margin-top: 80px;
    padding: 50px 0;
    background-color: #dce1e8;
}

.jumbo-content .col-container{
    margin-top: 50px;
}

.jumbo-content h1 {
    font-size: 5rem;
    font-weight: 600;
}

.jumbo-content p{
    line-height: 20px;
    font-weight: 600;
}

.jumbo-content .link-container .extra{
    background-color: blue;
    line-height: 40px;
    color: white;
    padding: 0 20px;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 800;
}

.icon-arrow-down{
    font-size: 40px;
    padding: 40px 0;
}