/* body{
    background-color: red;
} */





/* HEADER  */
.hidden{
    display: none;
}
.support:hover .hidden{
    display: inline-block;
    
}
.ul-hidden-list{
    width: 70px; background-color: white;
}
/* nav  */
nav{
    top: 0;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
li {
    line-height: 79px;
    margin: 0 20px;
}

.logo{
    vertical-align: -5px;
}

nav li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    line-height:79px;

}

nav li a.underline-bottom:hover{
    border-bottom: solid 2px black;
}
li .hidden a:hover{
    border-bottom: solid 2px black;
}

li .hidden li{
    width: 150px; 
    background-color: white
}

nav li a.extra{
    background-color: #0061FF;
    line-height: 30px;
    color: white;
    padding: 0 20px;
}
nav li a.extra:hover{
    opacity: 0.7;
    border-bottom: none;

}



/* jambo */
.jumbo{
    margin-top: 80px;
    padding: 50px 0;
    background-color: #B4D0E7;
}

.jumbo-content .col-container{
    margin-top: 50px;
}

.jumbo-content .col-container .col{
    width: 24.5%; 
    min-width: 300px;
}

.jumbo-content h1 {
    font-size: 5vw;
}

.jumbo-content p{
    line-height: 25px;
    font-weight: 400;
}

.jumbo-content .link-container .extra{
    background-color: #0061FF;
    line-height: 40px;
    color: white;
    padding: 0 20px;
    text-decoration: none;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    font-weight: 500;
}
.jumbo-content .link-container .extra:hover{
    opacity: 0.7;

}
.icon-arrow-down{
    font-size: 2.5vw;
    padding: 2vw 0;
}