/* body{
    background-color: red;
} */

/* MAIN  */

/* FIRST SECTION  */
.form-section{
    padding: 100px 0;
}

/* options  */

 /* input radio  */
 .form-section h1{
    font-size: 2.5rem;
    margin-top: 80px;
    padding: 40px 0;
    font-weight: 600;
}

.form-section label{
    display: inline-block;
    padding-bottom: 40px;
    margin-right: 20px;
    margin-right: 20px;
    
}

input[type="radio"]{
    display: none;
}

label:before{
    content: " ";
    padding: 0 9px;
    /* width: 15px;
    height: 15px; */
    border: 1px solid lightgray;
    border-radius: 50%;
    margin-right: 20px;
}

input[type="radio"]:checked + label::before{
    border: 5px solid blue;

}
 /*end input radio  */





 /* generals */
 .col-option{
     width: calc(100%/3 - 5%);
     border: 1px solid lightgrey;
 }
 .col-option .icon{
     text-align: center;
     padding: 10px 0;
     border-bottom: 1px solid lightgrey;
 }
 .center{
     margin: 0 5%;
 }
 .option-li{
     display: block;
     line-height: 20px;
 }

 .option-li{
     margin: 0;
 }

 .option-li p{
     width: 85%; margin-top: -13px; margin-left: 5px;
 }
 .fa-check{
     color: #0061FF ;
 }

 .col-option .padding-col-option{
    padding: 30px 30px 200px 30px;

}

.col-option .padding-col-option .price{
    padding-bottom: 10px;
}

.col-option .padding-col-option h4,
.col-option .padding-col-option p,
.col-option .padding-col-option ul li,
.col-option .padding-col-option span{
    padding: 10px 0;
}

.col-option .padding-col-option .price{
    font-weight: 800;
}

.col-option .padding-col-option .duration{
    color: gray;
}


.col-option .padding-col-option ul li{
}

.col-option .padding-col-option ul li.second{
    font-size: 0.9rem;
    font-weight: 550;
}

.col-option .padding-col-option ul li .try-free{
    background-color: #0061FF;
    line-height: 30px;
    color: white;
    padding: 5px 0;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
}

.col-option .padding-col-option ul li .try-free-second{
    color: #0061FF;
}

.col-option .padding-col-option ul li .try-free:hover,
.col-option .padding-col-option ul li .try-free-second:hover
{
    opacity: 0.7;
}




.col-option .padding-col-option ul li.first-second{
    font-weight: 800 ;
}



hr{
    width: 60px; 
    margin: 30px 0;
    color: lightgray;
}






/* last col-option */

.col-bottom{
    border: 1px solid lightgrey;
    margin-top:  4%;
    width: 95%;
}

.col-bottom .icon{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.col-bottom .last-col-padding{
    padding: 30px 30px;
}

.col-bottom .last-col-padding h2{
    margin-bottom: 20px;
}
.col-bottom .last-col-padding h4{
    margin-bottom: 40px;

}

.col-bottom .last-col-padding .try-free{
    background-color: #0061FF;
    line-height: 30px;
    color: white;
    padding: 5px 80px;
    text-decoration: none;
}

.col-bottom .last-col-padding .try-free:hover
{
    opacity: 0.7;
}

.last-option-text{
    width: 50%;
}

/*END FIRST SECTION  */















/* SECTION TWO  */
.section-two .window-small img{
    width: 58%;
}

.section-two .window-small div{
    width: 38%;
}

.section-two .window-small .float-right{
    margin-top: 3%;
}

.section-two .window-small .float-right p{
    margin: 30px 0;
    font-weight: 500;
    line-height: 25px;
}

.section-two .window-small .float-right .button{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    
}

.section-two .window-small .float-right .button a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.section-two .window-small .float-right .button a:hover,
.section-two .window-small .float-right .button:hover
{
    border-color: grey ;
    opacity: 0.7;
}

/*END SECTION TWO  */












/* SECTION THREE  */





                            /* 
                            works look at option part deom css
                            .center{
                                margin: 0 5%;
                            } */


.col-section-three{
    width: calc(100%/3 - 5%);

}
.col-section-three img{
    width: 100%;
    padding-top: 60px ;

}

.section-three .window-small .title{
    font-size: 3rem;
    font-weight: 800;
}

.section-three .window-small h2{
    margin: 20px 0;
    font-weight: 800;
}

.section-three .window-small p{
    line-height: 25px;
    font-weight: 500;

}

/*END SECTION THREE  */










/* TITLE  */

.extra-small{
    width: 40%;
}

.extra-small h1{
    font-size: 2.6rem;
}


.extra-small a{
    padding: 40px 0;
    color: #0061FF;
    font-size: 1rem;
    font-weight: 500;
}

.extra-small a:hover
{
    opacity: 0.7;
}
/*END TITLE  */







/* SECTION FOUR  */
.section-four aside{
    width: 25%;
    height: 100%;
}
.section-four section{
    width: 50%;
    
}
.section-four{
    height: 25vw;
    background-color: #F5F5F5;
}

/* MINI cubic section (thing gona crazy lol ) */
.section-four aside .cubic{
    height: 50%;
    width: 50%;
    text-align: center;
}
.section-four aside .cubic path{
    fill: white;
}



/* one  */
.section-four aside .cubic.one{
    background-color: #A2D39B;
    border: 15px solid rgba(255, 255, 255, 0.364);
    border: 15px solid #A2D39B; 

}
.content-section-four #one-img{
    display: none;
}
/* two  */
.section-four aside .cubic.two{
    background-color: #61082B;
    border: 15px solid #61082B; 
}

.content-section-four #two-img{
    display: none;
}




/* three  */
.section-four aside .cubic.three{
    background-color: #0093CE;
    border: 15px solid #0093CE; 
}
.content-section-four #three-img{
    display: none;
}

/* four  */
.section-four aside .cubic.four{
    background-color: #FF1C1C;
    border: 15px solid #FF1C1C; 
}
.content-section-four #four-img{
    display: none;
}

/* five  */
.section-four aside .cubic.five{
    background-color: #D5001F;
    border: 15px solid #D5001F; 
}
.content-section-four #five-img{
    display: none;
}

/* six  */
.section-four aside .cubic.six{
    background-color: #B4D0E7;
    border: 15px solid #B4D0E7; 
}
.content-section-four #six-img{
    display: none;
}
/* seven  */
.section-four aside .cubic.seven{
    background-color: #0D2481;
    border: 15px solid #0D2481; 
}
.content-section-four #seven-img{
    display: none;
}
/* eight  */
.section-four aside .cubic.eight{
    background-color: #FFD830;
    border: 15px solid #FFD830; 
}
.content-section-four #eight-img{
    display: none;
}
/* 
three
#0093CE
 FOUR
#FF1C1C
FIVE
#D5001F
SIX
#B4D0E7
SEVEN
#0D2481 */
/* EIGHT */
/* #FFD830 */

/* 
    this was wit hover for the border



    .section-four aside .cubic:hover{
    border: 15px solid rgba(255, 255, 255, 0.364);
    cursor:crosshair;
} */

/* 
    it was for the link of ".cubic" to make margin but didn't work, to let this work need to elaborate de intire structure of section four

    .section-four::before {
        content: "";
        display: table;
        clear: both;
        height: 0;
        margin-top:  80px;
        }





*/



     .content-section-four{
        height: 140%;
     }


.section-four aside .cubic:active{
    border: 15px solid rgba(255, 255, 255, 0.364);

}


#one-img:target{
    display: block;
}

.cubic.one:checked {
    border: 15px solid rgba(255, 255, 255, 0.364);

}

#two-img:target{
    display: block;
}
#three-img:target{
    display: block;
}
#four-img:target{
    display: block;
}
#five-img:target{
    display: block;
}
#six-img:target{
    display: block;
}
#seven-img:target{
    display: block;
}
#eight-img:target{
    display: block;
}
/* end mini cubic  */


.content-section-four{
    padding: 40px;
    height: 100%;
    overflow: hidden;
}

.content-section-four:hover{
    overflow: scroll;
}


.content-section-four .contains-logo{
    width: 100px;
}

.content-section-four p {
    font-weight: 500;
    padding: 30px;
}
/*END SECTION FOUR  */




/* SECTION FIVE  */

.section-five{
    background-color: #BDCDE4 ;
}

.section-five ul li{
    display: block;
}
.section-five ul li .five-li{
    width: 90%;
}
.section-five ul li .five-li p{
    display: none;
}

.section-five .window-small h1{
    font-size: 2rem;
    width: 400px;
    color: #61082B;
}

.section-five .window-small .button-five{
    background-color: white;
    padding: 10px 40px;
    text-decoration: none;
    color: black;
}
.section-five .window-small .button-five:hover{
    opacity: 0.7;
}

.section-five ul li .icon-five i{
    margin-right: 40px;
}

.section-five ul li .icon-five .fa-chevron-up{
    display: none;
}



.section-five ul li:hover p{
    display: block;
}

.section-five ul li:hover .fa-chevron-up{
    display: inline-block;
}
.section-five ul li:hover .fa-chevron-down{
    display: none;
}
/*END SECTION FIVE  */

.section-five.section-padding.five{
    background-color: white;
}

