/* body{
    background-color: red;
} */

/* MAIN  */

/* FIRST SECTION  */
.form-section{
    padding: 100px 0;
}

/* options  */
.col-option{
    width: calc(100%/3 - 5%);
}
.center{
    margin: 0 5%;
}
.option-li{
    display: block;
    line-height: 20px;
}
.option-li a{
}
.col-bottom{
    width: 100%;
    margin-top:  2%;
}

/*END FIRST SECTION  */




/* SECTION TWO  */
.section-two .window-small img{
    width: 48%;
}

.section-two .window-small div{
    width: 48%;
}


/*END SECTION TWO  */


/* SECTION THREE  */
.col-section-three{
    width: calc(100%/3 - 5%);

}
.col-section-three img{
    width: 100%;
}

                                    /* 
                                    works look at option part deom css
                                    .center{
                                        margin: 0 5%;
                                    } */

/*END SECTION THREE  */


/* SECTION FOUR  */
.section-four aside{
    width: calc(100%/3);
    
}
/*END SECTION FOUR  */





/* SECTION FIVE  */
.section-five ul li{
    display: block;
}
.section-five ul li .five-li{
    width: 90%;
}
.section-five ul li .five-li p{
    display: none;
}


/* SECTION FIVE  */





