/* body{
    background-color: red;
} */

/* MAIN  */

/* FIRST SECTION  */
.form-section{
    padding: 100px 0;
}

/* options  */
.col-option{
    width: calc(100%/3 - 5%);
    border: 1px solid lightgrey;

}

.col-option .icon{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.center{
    margin: 0 5%;
}
.option-li{
    display: block;
    line-height: 20px;
}

.col-bottom{
    width: 100%;
    margin-top:  2%;
}

.form-section h1{
    font-size: 2.5rem;
    margin-top: 80px;
    padding: 40px 0;
    font-weight: 900;
}

.form-section span{
    display: inline-block;
    padding-bottom: 40px;
    margin-right: 20px;
}

.col-option .padding-col-option{
    padding: 30px 30px 200px 30px;

}

.col-option .padding-col-option .price{
    padding-bottom: 10px;
}

.col-option .padding-col-option h4,
.col-option .padding-col-option p,
.col-option .padding-col-option ul li,
.col-option .padding-col-option span{
    padding: 10px 0;
    font-weight: 800;
}




.col-option .padding-col-option ul li{
    margin-left: 0px ;
}

.col-option .padding-col-option ul li.second{
    font-size: 0.8rem;
}

.col-option .padding-col-option ul li .try-free{
    background-color: blue;
    line-height: 30px;
    color: white;
    padding: 5px 30px;
    text-decoration: none;
    margin-top: 30px;
}

.col-option .padding-col-option ul li .try-free-second{
    color: blue;
}

.col-option .padding-col-option ul li.first-second{
    font-weight: 800 ;
}

.col-option .padding-col-option ul li.second::before{
    content: "\02713";
}

hr{
    width: 60px; 
    margin: 30px 0;
    color: lightgray;
}

/* last col-option */

.col-bottom{
    border: 1px solid lightgrey;
    width: 95%;
}
.col-bottom .icon{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.col-bottom .last-col-padding{
    padding: 30px 30px;
}

.col-bottom .last-col-padding h2{
    margin-bottom: 20px;
}
.col-bottom .last-col-padding h4{
    margin-bottom: 40px;

}

.col-bottom .last-col-padding .try-free{
    background-color: blue;
    line-height: 30px;
    color: white;
    padding: 5px 30px;
    text-decoration: none;
    font-weight: 800;
}


















/*END FIRST SECTION  */




/* SECTION TWO  */
.section-two .window-small img{
    width: 48%;
}

.section-two .window-small div{
    width: 48%;
}


/*END SECTION TWO  */


/* SECTION THREE  */
.col-section-three{
    width: calc(100%/3 - 5%);

}
.col-section-three img{
    width: 100%;
}

                                    /* 
                                    works look at option part deom css
                                    .center{
                                        margin: 0 5%;
                                    } */

/*END SECTION THREE  */


/* SECTION FOUR  */
.section-four aside{
    width: calc(100%/3);
    
}
/*END SECTION FOUR  */





/* SECTION FIVE  */
.section-five ul li{
    display: block;
}
.section-five ul li .five-li{
    width: 90%;
}
.section-five ul li .five-li p{
    display: none;
}

/* SECTION FIVE  */





