/* body{
    background-color: red;
} */


/* GENEREAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* UTILITY'S */

.window-big{
    width: 90%; /*for now*/
}
.window-medium{
    width: 80%; /*for now*/
}

/* float  */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}


/* absolut */
.relative{
    position: relative;
}

.fixed{
    position: fixed;
}

.absolute{
    position: absolute;
}



/* DEBUG */

/* backgrounds */
.debug-red{
    background-color: red;
}
.debug-blue{
    background-color: blue;
}
.debug-yellow{
    background-color: yellow;
}
.debug-green{
    background-color: green;
}

/* sizes */
.debug-h-100{
    min-height: 100;
}
.debug-h-200{
    min-height: 200;
}
.debug-h-200{
    min-height: 200;
}
.debug-h-300{
    min-height: 300;
}
.debug-h-400{
    min-height: 400;
}


.debug-w-100{
    min-width: 100;
}
.debug-w-200{
    min-width: 200;
}
.debug-w-200{
    min-width: 200;
}
.debug-w-300{
    min-width: 300;
}
.debug-w-400{
    min-width: 400;
}